html, body{
    margin: 0;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
#header{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 40px;   
}
#menu{
    position: relative;
    width: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0;
    z-index: 999;
}
#navbuttons{
    position: absolute;
    display:inline-table;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
    text-align: center;
}
.navb{
    display:inline;
    list-style: none;
}
#uzenet{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    top: 50px;
    margin: 10px;
    text-align: center;
}
#content{
    display:inline-block;
    position: relative;
    width: 100%;
}
#tabla{
    display: block;
    position: relative;
    top:10rem;
    left:0;
}
input[type="button"]{
    border: 3px solid white;
    background-color: black;
    color: white;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.2s background-color linear;
}
input[type="button"]:hover{
    background-color: white;
    color: black;
}
#erzekelohelyzete{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    text-align: center;   
}
#mezo{
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
#mezo td{
    border-style: none;
    background-color: gray;
    padding: 15px;
}
#messagebox{
    position: relative;
    top: 100px;
    text-align: center;
}